* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #353535;
}

.container {
  width: 280px;
  height: 500px;
  margin: 30px auto;
}

.card {}

.card-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 15px 15px 0 0;
}

.card-logo{
  width: 55px;
  margin: 20px;

}

.product-img{
  position: absolute;
  left: 0;
  margin-top: -16px;
  margin-left: 50px;

}

.product-detail{
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 2px;
  color: #fff;
}

.back-text{
  display: inline-block;
  font-size: 125px;
  font-weight: 800;
  color: #fff;
  margin-left: -8px;

  opacity: 0.1;

}
.card-body{
  height: 255px;
  background: #fff;
  margin-top: -16px;
  border-radius: 0 0 15px 15px;
}

.product-title{
padding: 20px 20px 5px 20px;
display: block;
font-size: 17px;
font-weight: 500;
text-transform: uppercase;
}

.badge{
position: relative;
font-size: 10px;
font-weight: 300;
color: #353535;
background: #00FF00;
padding: 2px 5px;
border-radius: 3px;

}

.badge:hover{
color: #fff;

}


.product-caption{
  display: block;
  padding: 0px 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-rating{
  display: block;

  color: red;
  font-size: 12px;
  margin-left: 15px;
  padding: 10px;



}
/* The container <div> - needed to position the dropdown content */

}
/* Dropdown Content (Hidden by Default) */

.product-size:hover a:hover {

  background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.product-size:hover .ul-size {
    display: block;
}

.reminder{
  position: fixed;
 padding:17px 10px 3px 10px;
 top: 5px;
 right: 5px;
 background: rgba(0,0,0,0.1);
 font-size: 30px;
 font-style: bold;

}
.reminder:hover{
  background: #fff;
}



.dropbtn {
  border-radius: 0px 5px 5px 0px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

margin-top: 2px;
    color: white;
    width: 230px;
    padding: 12px;
    margin-left: -28px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 4px 10px  rgba(0, 0, 0, 0.2);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;



}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:absolute;
    width: 182px;
    border-radius: 0 0 5px 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    z-index: 1;



}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
      font-size: 13px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 0 0 5px 5px;
    float: left;

}
.dropdown-content a:hover {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background: #fa782e;
  opacity: 0.8;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #c82930;
}


.product-colour h4{
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.ul-colour{
  margin-left: 27px;

}
.ul-colour li{
  list-style: none;
  float: left;
  margin-right: 20px;

}
.ul-colour li a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;

}
.ul-colour li a.orange{
  background: #f35e3d;

}

.ul-colour li a.blue{
  background: blue;
}

.ul-colour li a.green{
  background: green;
}

.ul-colour li a.active:hover:after{
position: absolute;
content: '';
display: inline-block;
border: 1px solid orange;
width: 28px;
height: 28px;
border-radius: 100%;
margin-left: -5px;
margin-top: -5px;

}
.size-choosen{
  display: inline-block;
  opacity: 0.9;
  font-size: 13px;
  color:white;
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  padding: 13px;
  width: 15px;
  text-align: center;
  border-radius: 5px;



}
.product-price{
position:absolute;
background: #00FF00;
padding: 8px 8px;
margin: -11px 20px 0px;
border-radius: 5px 5px 0px 5px;

color: #353535;
background: -webkit-linear-gradient(-25deg, #00FF00 8%, #00cc00 83%);
text-align: center;
font-size: 22px;
font-weight: 200;
width: 130px;
box-shadow: 1px 4px 10px  rgba(0, 0, 0, 0.2);
}


.product-price:hover{
  color: white;

}

.price-design{
  margin-left: 231px ;
  margin-top: 24px;
   transform: rotate(115deg);

    border-top: 40px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 51px solid #00d300;

    position: absolute;
    z-index: -1;

}
.price-design-2{
  margin-left: -50px ;
  margin-top: -64px;
   transform: rotate(166deg);

    border-top: 50px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 51px solid #e56d29;

    position: absolute;
    z-index:-1 ;

}
